<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>

  <style>
      .ad {
        font-family: 'charter';
        color: #7f8487;
      }
      .dd {
        font-family: 'Calibri light';
        color: #7f8487;
      }
  </style>
  <body>
<center>
      <lottie-player
        src="https://assets3.lottiefiles.com/packages/lf20_dxebb1lw.json"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
      ></lottie-player>
      <H1 class= "ad" >Something went wrong.</H1>
      
      <p class="dd">Check Internet Connectivity</p>
      <p class="dd">Check Flask Server</p>
      <p class="dd">Review Product </p>
      <p class="dd">Retry</p>
     
<center/>


   
  </body>
</html>
